{{!-- {{page-title "Clothes"}}

<h1>Bem-vindo!</h1>

<p>Digite algo no campo abaixo:</p>

<InputTexto placeholder="Digite seu nome..." valor={{this.meuTexto}} @onChange={{this.atualizarTexto}} />

<p>Você digitou: {{this.meuTexto}}</p>


<p></p> --}}